langchain
langgraph
langsmith
langchain_community
langchain_core

langchain-openai
langchain-groq
langchain-google-genai

tiktoken

python-dotenv
ipykernel
pydantic

tavily-python
ddgs

requests
beautifulsoup4
lxml